@charset "UTF-8";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* BODY */
body {
    background-color: var(--black);
    margin: 0px;
}

/* HEADER */
header {
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

    #logo {
        margin-top: 24px;
        margin-right: 80px;
        margin-bottom: 24px;
        margin-left: 40px;
        width: 20%;
    }

    #menu {
        display: flex;
        align-self: auto;
        gap: 30px;
    }


        #menu a{
            color: var(--white);
            font-family: var(--font-subtitle);
            text-decoration: none;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: var(--font-text-medium);
            line-height: normal;
        }

            #menu a:hover{
                color: var(--blue);
            }

/* SECTION 1 - BANNER */

#banner img{
    display: block;
    width: 100%;
    height: auto;
}

/* SECTION 2 - ABOUT ME */
#about-me {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

    #presentation {
        display: flex;
        gap: 24px;
        padding: 0 10%;
    }

    .section-title {
        font-family: var(--font-title);
        color: var(--white);
        font-size: 2.75rem;
        display: flex;
        justify-content: center;
        margin-top: 4%;
    }

    #about-me-subtitle {
        font-family: var(--font-subtitle);
        font-size: 2rem;
        display: flex;
    }

    .section-text {
        font-family: var(--font-text);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

    #buttoms {
        display: flex;
        gap: 16px;
    }

    .cta {
        display: flex;
        width: 218px;
        height: 48px;
        padding: 20px 48px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: var(--blue);
        border: none;
        color: var(--white);
        font-family: var(--font-title);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        transition: 0.5s;
    }
    
        .cta:hover {
            background-color: var(--darkblue);
            cursor: pointer;
        }

    a {
        text-decoration: none;
    }

    #github-logo1 {
        width: 48px;
        height: 48px;
    }

        #github-logo1:hover {
            transform: scale(1.05);
        }

    #linkedin-logo1 {
        width: 48px;
        height: 48px;
    }

        #linkedin-logo1:hover {
            transform: scale(1.05);
        }

    #about-me-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #about-me-image img {
        height: 80%;
    }

/* SECTION 2 - SKILLS */
#skills {
    display: block;
    color: var(--white);
}

.technology p {
    margin: 8px;
}

.section-subtitle {
    display: flex;
    justify-content: center;
    font-family: var(--font-title);
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0px 240px;
    color: var(--white);
}

#section-content {
    display: flex;
    gap: 24px;
    padding: 0px 10%;
}

#soft-skills-title {
    color: var(--blue);
    font-family: var(--font-subtitle);
    font-size: 1.5rem;
}

#skills-list {
    display: flex;
    gap: 64px;
    font-family: var(--font-text);
    line-height: 2;
    list-style-image: url('../assets/images/icons/caret.png');
}

ul {
    padding-inline-start: 16px;
}

#techs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
    margin-left: 5.5%;

}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    font-family: var(--font-text);
}

#techs-row1 {
    display: flex;
    gap: 40px;
    justify-content: center;
}

    #techs-row1 img:hover {
        transform: scale(1.05);
    }

    #techs-row1 p {
        font-size: 0.9rem;
    }
    
#techs-row2 {
    display: flex;
    gap: 60px;
    justify-content: center;
}

    #techs-row2 img:hover {
        transform: scale(1.05);
    }

    #techs-row2 p {
        font-size: 0.9rem;
    }

/* SECTION 3 - SERVICES */
/* #services-cards {
    padding: 0px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

#services-cards img {
    max-width: 33%;
}

#services-cards img:hover {
    transform: scale(1.02);
} */

/* SECTION 3 - PROJECTS */
.projects-cards {
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 1%;
}

    .project {
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 10px;
        background-color: var(--darkgray);
        width: 29.5%;
        line-height: 1.5;
        font-family: var(--font-text);
        font-weight: 400;
    }

        .card-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
        }

        .project-title {
            font-size: 1.5rem;
            margin-top: 16px;
            margin-bottom: 4px;
        }

        .project-categorie {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 16px;
            color: var(--blue);
        }
        .project-description {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 16px;
        }

        .project-techs-image {
            height: 26px;
            margin: 0 2px 16px 2px;
        }

        .project-button {
            display: flex;;
            width: 100%;
            height: 48px;
            padding: 20px 48px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: var(--blue);
            border: none;
            color: var(--white);
            font-family: var(--font-title);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            transition: 0.5s;
        }

            .project-button:hover {
                background-color: var(--darkblue);
                cursor: pointer;
            }

        .soon-button {
            display: flex;;
            width: 100%;
            height: 48px;
            padding: 20px 48px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: var(--gray);
            border: none;
            color: var(--black);
            font-family: var(--font-title);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
        }

#portfolio-link {
    padding: 0px 10%;
    display: flex;
    justify-content: right;
    font-family: var(--font-text);
    color: var(--blue);
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 3%;
}

a {
    color: var(--blue);
}

/* SECTION 4 - CONTACT */
#contact {
    color: var(--white);
    font-family: var(--font-text);
    align-items: center;
    
}

#contact p {
    display: flex;
    justify-content: center;
}

#contact-content {
    display: flex;
    flex-direction: column;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
}

#form label {
    font-size: 1rem;
}

#form input{
    width: 50vh;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--white);
    border: none;
    font-family: var(--font-title);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#form input:focus {
    outline: 0;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(192, 189, 189);
}

#form textarea {
    width: 50vh;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--white);
    border: none;
    font-family: var(--font-title);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#form textarea:focus {
    outline: 0;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(192, 189, 189);
}

#form-button {
    display: flex;;
    width: 52.5vh;
    height: 48px;
    padding: 20px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-family: var(--font-title);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.5s;
}

#form-button:hover {
        background-color: var(--darkblue);
        cursor: pointer;
    }

#social {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#social h4 {
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}

#social img {
    width: 32px;
}

#social img:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-family: var(--font-text);
    font-size: 0.75rem;
    gap: 8px;
    align-items: center;
    margin: 60px 0px 24px 0px;
}

footer p {
   margin: 0;
}

#rights-name {
    color: var(--blue);
}


/* RESPONSIVIDADE MOBILE */
@media screen and (max-width: 800px){
  
/* SECTION 1 - HEADER */
    #menu {
        display: none;
    }

    #logo{
        display: flex;
        justify-content: center;
        align-self: center;
        margin: auto;
        padding: 20px;
        width: 60%;
    }

/* SECTION 2 - ABOUT ME */
#about-me {
    display: block;
}

    #presentation {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0 10%;
    }

        .section-title {
            margin: 10% 0 0 0;
            font-size: 2rem;
        }

        #about-me-subtitle {
            font-size: 1.5rem;
        }

        #buttoms {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

            #social-buttoms {
                display: flex;
            }

        #about-me-image img {
            width: 100%;
        }

/* SECTION 2 - SKILLS */
.section-subtitle {
    font-size: 1.5rem;
    margin: 10% 0 0 0;
    padding: 0;
}

#section-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 10%;
}

#skills-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family: var(--font-text);
    line-height: 2;
    list-style-image: url('../assets/images/icons/caret.png');
}

#techs-row1 img {
    height: 90px;
    gap: 50px;
}

    #techs-row1 img:hover {
        transform: none;
    }

#techs-row2 img {
    height: 90px;
    gap: 50px;
}

    #techs-row2 img:hover {
        transform: none;
    }

/* SECTION 3 - SERVICES */
/* #services-cards {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#services-cards img {
    max-width: 100%;
}

    #services-cards img:hover {
        transform: none;
    } */

/* SECTION 3 - PROJECTS */
.projects-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .project {
        width: 100%;
        margin: 3% 0;
    }

/* SECTION 4 - CONTACT */
#form input{
    width: 270px;
}

#form textarea {
    width: 270px;
}

#form-button {
    width: 295px;
}
}