@charset "UTF-8";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* BODY */
body {
    /* background-color: var(--black); */
    background-color: var(--white);
    margin: 0px;
    /* color: var(--white); */
    color: black;
    font-family: var(--font-text);
}

/* HEADER */
header {
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    border: 1px solid var(--gray);
}

    #logo {
        margin-top: 16px;
        margin-right: 80px;
        margin-bottom: 16px;
        margin-left: 40px;
        width: 19%;
    }

    #logo img {
        width: 100%;
    }

    #menu {
        display: flex;
        align-self: auto;
        gap: 30px;
    }


        #menu a{
            color: var(--black);
            font-family: var(--font-subtitle);
            text-decoration: none;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: var(--font-text-medium);
            line-height: normal;
            transition: 0.3s;
        }

            #menu a:hover{
                color: var(--blue);
            }

/* SECTION 1 - BANNER */

#banner img{
    display: block;
    width: 100%;
    height: auto;
    /* height: 500px; */
}

.text-banner {
    background-image: url('../assets/images/background/banner2.png');
    background-size: auto 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 24px;
}

.text-banner h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

.text-banner span {
    font-family: var(--font-title);
    font-size: 2rem;
}

.texto-animado {
    color: var(--blue);
}

/* SECTION 2 - ABOUT ME */
#about-me {
    display: flex;
    flex-direction: column;
}

    #presentation {
        display: flex;
        gap: 24px;
        padding: 0 10%;
    }

    .section-title {
        font-family: var(--font-title);
        color: black;
        font-size: 2.75rem;
        display: flex;
        justify-content: center;
        margin-top: 4%;
    }

    #about-me-subtitle {
        display: flex;
        font-family: var(--font-subtitle);
        font-size: 2rem;
        color: var(--blue);
    }

    .section-text {
        font-family: var(--font-text);
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5;
    }

    #buttoms {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .cta {
        display: flex;
        width: 218px;
        height: 48px;
        padding: 20px 48px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: var(--blue);
        border: none;
        color: var(--white);
        font-family: var(--font-title);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        transition: 0.5s;
    }
    
        .cta:hover {
            background-color: var(--darkblue);
            cursor: pointer;
        }

    a {
        text-decoration: none;
    }

    #github-logo1 {
        width: 40px;
        height: 40px;
        margin-top: 4px;
        transition: 0.5s;
    }

        #github-logo1:hover {
            transform: scale(1.05);
        }

    #linkedin-logo1 {
        width: 40px;
        height: 40px;
        transition: 0.5s;
    }

        #linkedin-logo1:hover {
            transform: scale(1.05);
        }

    #about-me-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #about-me-image img {
        height: 80%;
    }

/* SECTION - WORK PROCESS */
#process {
    padding: 0 10%;
    margin-bottom: 5%;
}

#process-description {
    display: flex;
    align-items: center;
    gap: 4%;

}

#process-description img {
    width: 50%;
}

/* SECTION 2 - SKILLS */
#skills {
    display: block;
    /* color: var(--white); */
    color: black;

}

.technology p {
    margin: 8px;
}

.section-subtitle {
    display: flex;
    justify-content: center;
    font-family: var(--font-title);
    font-size: 2rem;
    text-transform: uppercase;
}

#section-content {
    display: flex;
    gap: 24px;
    padding: 0px 10%;
}

#soft-skills-title {
    color: var(--blue);
    font-family: var(--font-subtitle);
    font-size: 1.5rem;
}

#skills-list {
    display: flex;
    gap: 64px;
    font-family: var(--font-text);
    line-height: 2;
    list-style-image: url('../assets/images/icons/caret.png');
}

ul {
    padding-inline-start: 16px;
}

#techs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
    margin-left: 5.5%;

}

.section-text span {
    color: var(--blue);
}

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    gap: 5px;
    font-family: var(--font-text);
}

.technology img {
    height: 70px;
    transition: 0.5s;
}

#technologies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    padding: 0 10%;
    gap: 40px;
    justify-content: center;
}

    #technologies img:hover {
        transform: scale(1.05);
    }

    #technologies p {
        font-size: 0.9rem;
    }

/* SECTION 3 - PROJECTS */
.projects-cards {
    margin: 0px 10%;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-bottom: 1%;
    gap: 24px;
    background-color: #EBD8D0;
    transition: 0.3s;
}

        .projects-cards:hover {
            transform: scale(1.005);
            box-shadow: 2px 2px 5px 0px rgba(237,237,237,1);
        }

    .project {
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 10px;
        background-color: var(--darkgray);
        width: 29.5%;
        line-height: 1.5;
        font-family: var(--font-text);
        font-weight: 400;
    }

        .card-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1.5;
            flex-grow: 1;
        }

        .card-header {
            display: flex;
            flex-direction: column;
            gap: 0px;
        }

        .project-title {
            font-size: 1.5rem;
            margin: 0;
        }

        .project-categorie {
            font-size: 1rem;
            line-height: 1.5;
            margin-top: 0;
            margin-bottom: 16px;
            color: var(--blue);
        }

        .project-image {
            max-width:400px;
            max-height:250px;
            width: auto;
            height: auto;
        }

        .project-description {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 16px;
        }

        .tools-and-button {
            display: flex;
            justify-content: space-between;
            width: 100%;

        }

        .project-technologies {
            display: flex;
            gap: 16px;
        }

        .project-techs-image {
            height: 32px;
            margin: auto;
        }

        .project-button {
            display: flex;;
            width: 100%;
            height: 48px;
            padding: 20px 48px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: var(--blue);
            border: none;
            color: var(--white);
            font-family: var(--font-title);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            transition: 0.5s;
        }

            .project-button:hover {
                background-color: var(--darkblue);
                cursor: pointer;
            }

        .soon-button {
            display: flex;;
            width: 100%;
            height: 48px;
            padding: 20px 48px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: var(--gray);
            border: none;
            color: var(--darkgray);
            font-family: var(--font-title);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
        }

#portfolio-link {
    padding: 0px 10%;
    display: flex;
    justify-content: right;
    font-family: var(--font-text);
    color: var(--blue);
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 3%;
}

a {
    color: var(--blue);
}

/* SECTION - ARTICLES AND STUDIES */
#articles-studies {
    padding: 0 10%;
    line-height: 1.5;
}

#articles-cards {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 3%;
}

.articles-row {
    display: flex;
    justify-content: space-between;
    width: 49%;
    margin: 0;
    padding: 0;
}

.article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    /* height: auto; */
    padding: 1%;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

    .article-card:hover {
        box-shadow: 2px 2px 5px 0px rgba(237,237,237,1);
    }

    .article-card-title {
        font-size: 16px;
    }

    .article-image {
        width: -webkit-fill-available;
    }

/* SECTION 4 - CONTACT */
#contact {
    font-family: var(--font-text);
    align-items: center;
    
}

#contact p {
    display: flex;
    justify-content: center;
}

#contact-content {
    display: flex;
    flex-direction: column;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form-items {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 4px;
}

#form label {
    font-size: 0.9rem;
}

#form input{
    width: 50vh;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    font-family: var(--font-title);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#form input:focus {
    outline: 0;
    border-color: var(--blue);
    box-shadow: 2px 2px 5px 0px rgba(237,237,237,1);
}

#form input::placeholder {
    font-weight: 300;
}

#form textarea {
    width: 50vh;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    font-family: var(--font-title);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#form textarea:focus {
    outline: 0;
    border-color: var(--blue);
    box-shadow: 2px 2px 5px 0px rgba(237,237,237,1);
}

#form textarea::placeholder {
    font-weight: 300;
}

#form-button {
    display: flex;;
    width: 52.5vh;
    height: 48px;
    padding: 20px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-family: var(--font-title);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.5s;
}

#form-button:hover {
        background-color: var(--darkblue);
        cursor: pointer;
    }

#social {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#social h4 {
    font-size: 1rem;
    font-weight: 500;
}

#social img {
    width: 32px;
    transition: 0.5s;
}

#social img:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
    font-size: 0.75rem;
    gap: 8px;
    align-items: center;
    margin: 60px 0px 24px 0px;
}

footer p {
   margin: 0;
}

.highlight {
    color: var(--blue);
}

/* RESPONSIVIDADE TABLET */
@media screen and (max-width: 1000px){

    #logo {
        width: 26%;
    }

    #about-me-image {
        width: 40%;
        height: auto;
    }

    #about-me-image img {
        width: -webkit-fill-available;
        height: auto;
    }

    .project-image {
        max-width:300px;
    }

    #articles-cards {
        display: flex;
        flex-direction: column;
    }

    .articles-row {
        display: flex;
        width: 100%;
        gap: 24px;
        margin-bottom: 24px;
    }

    .article-card {
        width: 46%;
    }
}

/* RESPONSIVIDADE MOBILE */
@media screen and (max-width: 820px){
  
/* SECTION 1 - HEADER */
    #menu {
        display: none;
    }

    #logo{
        display: flex;
        justify-content: center;
        align-self: center;
        margin: auto;
        padding: 12px;
        width: 60%;
    }

/* SECTION 2 - ABOUT ME */
#about-me {
    display: block;
}

    #presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 0 5%;
    }

        .section-title {
            margin: 10% 0 0 0;
            font-size: 2rem;
        }

        #about-me-subtitle {
            color: var(--blue);
            font-size: 1.5rem;
        }

        #buttoms {
            display: flex;
            width: 100%;
            /* justify-content: space-between; */
            /* flex-direction: column; */
            gap: 16px;
            margin: 0;
        }
            .cta {
                width: auto;
                height: 40px;
                padding: 20px 24px;
            }

            #social-buttoms {
                display: flex;
                gap: 12px;
                align-items: center;
            }

            #linkedin-logo1 {
                margin-top: 4px;
            }

        #about-me-image {
            justify-content: center;
            width: 100%;
        }

/* SECTION - WORK PROCESS */
#process {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 0;
    padding: 0 5%;
}

#process-description {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#process-description img {
    width: 100%;
}

.section-text {
    margin-bottom: 0;
}

/* SECTION - TOOLS */
#tools {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#technologies {
    margin: 0 5%;
    padding: 0;
}

/* SECTION 2 - SKILLS */
.section-subtitle {
    font-size: 1.5rem;
    margin: 10% 0 0 0;
    padding: 0;
}

#section-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 10%;
}

#skills-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family: var(--font-text);
    line-height: 2;
    list-style-image: url('../assets/images/icons/caret.png');
}

#techs-row1 img {
    height: 90px;
    gap: 50px;
}

    #techs-row1 img:hover {
        transform: none;
    }

#techs-row2 img {
    height: 90px;
    gap: 50px;
}

    #techs-row2 img:hover {
        transform: none;
    }


/* SECTION 3 - PROJECTS */
#projects {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project-button {
    height: 40px;
    padding: 8px 32px;
}

.projects-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    margin: 0 5%;
}

    .project {
        width: 100%;
        margin: 3% 0;
    }

    .project-image {
        width: 100%;
    }

    .project-technologies {
        gap: 8px;
    }

    .project-techs-image {
        height: 24px;
    }

/* SECTION - ARTICLES AND STUDIES */
.articles-row {
    flex-direction: column;
}

#articles-studies {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0 5%;
}

.section-subtitle {
    margin-bottom: 24px;
}

#articles-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
}

    .article-card {
        width: -webkit-fill-available;
        margin: 1% 0;
        padding: 4%;
    }

/* SECTION 4 - CONTACT */
#form input{
    width: 270px;
}

#form textarea {
    width: 270px;
}

#form-button {
    width: 295px;
}
}

/* FOOTER */
#social {
    gap: 4px;
}