@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --white: #FDFFFC;
    --gray: #C2BEBE;
    --blue: #359ee5;
    --darkblue: #0076c5;
    --black: #080F0F;
    --darkgray: #181d23d3;

    --font-title: 'Poppins', sans-serif;
    --font-subtitle: 'Poppins', sans-serif;
    --font-text: 'Roboto', sans-serif;
}